/* #name {
  color: violet;
}
.warna-tomato {
  color: tomato;
}
.gede {
  font-size: 50px;
} */
/* h3 {
  color: rgb(0, 30, 128);
}
h1 {
  color: rgb(0, 30, 128);
} */
/* important > inline > id > class > tag */

/* .tombol button {
  background-color: tomato;
} */

:root {
}

body {
  font-family: sans-serif;
}

.tombol > button {
  background-color: tomato;
}

.tombol + div > button {
  background-color: yellow;
}

button {
  background-color: yellowgreen;
}

button:hover {
  background-color: #fff;
}

.tulisan {
}
