* {
  margin: 0px;
  padding: 0px;
}

/* div {
  background-color: cornflowerblue;
  min-height: 20vh;
  padding: 10px 1px;
  margin: 10px;
}
div:nth-child(odd) {
  background-image: url("./assets/gambar.svg");
  background-color: blanchedalmond;

  background-repeat: no-repeat;
  background-size: 20vh;
  background-position: center;
} */
.container {
  background-color: cornsilk;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start; */
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  flex-wrap: wrap;
  /* height: 30vh; */
}

.container > div {
  background-color: cornflowerblue;
  flex-basis: 20%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 700;
  /* padding-left: 5px; */
}

.container > div:nth-child(even) {
  background-color: crimson;
}

.item4 {
  order: 1;
}
