.btn-primary {
  background: rgb(103, 103, 242) !important;
  background: linear-gradient(
    340deg,
    rgba(103, 103, 242, 1) 47%,
    rgba(154, 147, 166, 1) 99%
  ) !important;
}
.lebar {
  width: 70% !important;
}

ul {
  list-style: none;
}

.warna {
  color: rgb(187, 184, 184);
}
@media only screen and (max-width: 576px) {
  .lebar {
    width: 100% !important;
  }
  .lebartombol {
    width: 100% !important;
  }
}
