* {
  margin: 0px;
  padding: 0px;
}

.tinggi {
  height: 45vh;
  box-shadow: 10px 10px 34px 0px rgba(201, 201, 201, 0.75);
  -webkit-box-shadow: 10px 10px 34px 0px rgba(201, 201, 201, 0.75);
  -moz-box-shadow: 10px 10px 34px 0px rgba(201, 201, 201, 0.75);
}

.ngangkat:hover {
  transform: translateY(-10px);
  cursor: pointer;
  transition: ease-in-out 100ms;
}

.form-control {
  border: lawngreen 2px solid !important;
}

.form-control:focus {
  /* outline: rgb(60, 68, 52) !important; */
  /* border-color: #28a745 !important; */
  box-shadow: 0 1px 1px rgba(1, 252, 197, 0.075) inset,
    0 0 8px rgba(12, 238, 133, 0.6) !important;
}

/* .form-control option {
  background-color: lawngreen !important;
} */
